#red {
    color: red;
}

#blue {
    color: rgb(76, 0, 255);
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

img{
    width: 200px;
    height: 200px;
}
h2{
    font-weight: normal;
}